

<!-- CUIDADO ::: -->



  
  <footer class="text-center text-white"  id="foter" >
    <!-- Grid container -->
    <div class="container pt-4" id="fobar1" >
      <!-- Section: Social media -->
      <section class="mb-4" id="fobar">
        <div class="">
          <div class="row g-5 pt-4">
            <div class="col-lg-3 col-md-6">
              <h3 class="text-white mb-4">Ubicacion </h3>
              <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>Latacunga </p>
              <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>Sabia@gmail.com</p>
              <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+593 0998530277</p>
          </div>
            <div class="col-lg-3 col-md-6">
              <h3 class="text-white mb-4">Contactanos </h3>
              <div class="d-flex">
                  <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
              </div>
          </div>
  
          </div>
        </div>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color:rgb(223, 239, 223)">
     <span style="color: rgb(63, 109, 88);"> © 2020 Copyright: </span> 
      <a  href="" style="color: rgb(35, 38, 34);">Santuario Bienestar Animal </a>
    </div>
    <!-- Copyright -->
  
    
  </footer>
  





<section id="main-container">
    <div class="container">
        <div class="row">

            <!-- Blog start -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                
                <!-- 1st post start -->
                <div class="post" >
                    <!-- post image start -->
                    <div class="post-image-wrapper" >
                        <h2 class="post-title">
                            <a href="blog-item.html">Denuncias Ciudadanas </a>
            
               
                        </h2>            
                        <img
                        src="{% static 'images/mascotas/denuncia2.png' %}" width="100%">
                        <div class="post-header clearfix">
                        <h2 style="margin-top: -38%;margin-left: 10%; color: rgb(255, 255, 255);font-family:fantasy;">Recepcion de <br><nav style="color: yellow;font-size: 34px;">Denuncias </nav>por Maltrato <br><nav style="font-size: 45px;">Animal</nav> </h2>
                  
                        <div class="post-meta">
                        
                            </div><!-- post meta end -->
                        </div><!-- post heading end -->
                        <p style="position: absolute;top: 24%;left: 8%;     width: 50px;
                     
                        border: 3px solid rgb(232, 253, 39);z-index: 1000;" ></p>
                          <p style="position: absolute;top: 24%;left: 8%;     width: 7px;
                             height: 50px;
                             background-color: yellow;
                          border: 3px solid rgb(232, 253, 39);z-index: 1000;" ></p>
                        <h2 style="text-align: center;background-color: rgb(21, 61, 39);padding: 5%;position: absolute;top:100%;width: 100%;color: white;" ><i class="fas fa-caret-right" style="color: yellow;"></i> Recepcion via Telefonica :<br>
                        <br>
                           
                        <nav style="font-size: 10px;margin-top: -3%;">Todos los dias de 8:30 a 16:30 </nav>
                        <br>
                        <nav style="color: yellow;margin-top:-3%">0998530277</nav>
                        </h2>
                        <h2 style="text-align: center;background-color: rgb(21, 61, 39);padding: 5%;position: absolute;top:132%;width: 100%;color: white;" ><i class="fas fa-caret-right" style="color: yellow;"></i> Recepcion Secretaria de Ambiente :<br>
                            <br>
                               
                            <nav style="font-size: 10px;margin-top: -3%;">ECU 911. </nav>
                            <br>
                            <nav style="color: yellow;margin-top:-3%">3952-300 ext. 24131.</nav>
                            </h2>
                    <h2 style="background-color: #469150;;position: absolute;top:164%;padding: 2%;width: 100%;text-align: center;">
                        SABIA , Cuidando de los Aniales
                    </h2>
                
                        <p style="position: absolute;top: 100%;left: 8%;     width: 50%;
                     
                        border: 3px solid rgb(232, 253, 39);z-index: 1000;" ></p>
                    </div><!-- post image end -->
        
                    <div class="post-body" style="padding-top: 45%;">
                        <p style="text-align: justify;">Las denuncias Ciudadanas son totalmente anonimas , si es lo que deseas , pero no permitas que mas animales 
                            sean victimas de un mal trato ni ningun tipo de violencia , REPORTALO , podemos ser la unica esperanza de ellos . 
                        </p>
                    </div>
                    <div class="post-footer">
                        <a href="https://latacunga.gob.ec/images/pdf/Ordenanzas/1_99_ordenanza_regula_transito_cuidado_tenencia_manejo_responsables_perros_gatos.pdf" target="blank" class="btn btn-primary">Leer Ordenanza   <i class="fa fa-angle-double-right">&nbsp;</i></a>
                    </div>


               
                </div><!-- 1st post end -->


                <h3>Si queires ver todos los reportes de Denuncias puedes Ingresar al siguiente link : </h3>
                <i class="fas fa-book-reader" style="font-size: 65px;margin-left: 40%;"></i>


            </div><!--/ Content col end -->
            
            <!-- sidebar start -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                
                <div class="sidebar sidebar-right">

            

                    <!-- Tab widget start-->
                    <div class="widget widget-tab">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#popular-tab" data-toggle="tab">Recientes Denuncias</a></li>
                
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="popular-tab">
                                <ul class="posts-list unstyled clearfix">
                                  <li>
                                    <div class=" pull-left"> 
                                        <a href="#"> 
                                            {% for m in form|slice:"10" %}
                                            {% ifequal m.tipo_consulta 0 %}
                                          
                                
                                            {% if m.referencia %}
                                            <img src="{{m.referencia.url}}"  class="img-fluid  "  style="max-height: 300px;min-height: max-content;padding: 3%;" >
                            
                                            {% else %}
                                            <img src="{% static 'images/mascotas/grande2.png'  %}" class="img-fluid">
                                            {% endif %}
                  
                                      
                                        </a> 
                                    </div>
                                    <div class="post-content">
                                        <h4 class="entry-title"><a href="#">{{m.descripcion}}</a>
                                        </h4>
                                        <p class="post-meta">
                                            <span class="post-meta-author">Publicado por :  <a href="#">{{m.name}}</a></span>
                                            <span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> {{m.fecha_perdida}}</a>
                                            </span>
                                        </p>
                                    </div>
                                    {% endifequal %}
                
                                    {% endfor %}
                                                
                                    <div class="clearfix"></div>
                                  </li><!-- First post end-->
                           
                      
                                </ul>
                            </div><!-- Popular tabpan end -->

                         
                        </div><!-- Tab content end -->
                                        <!-- Blog tags start -->
                    <div class="widget">
                        <h3 class="widget-title">Reportalo en nuestro Portal Web SABIA - ONLINE </h3>
                        <p style="text-align: justify;">SABIA, Compartira tus denuncias , para que tenga mayor difusion y que genere una consientizacion de los actos realizados , y poder 
                            precautelar la seguridad de los perritos 
                        </p>
         

                           
                        <button type="button" class="btn btn-warning"  style="width: 25%;height: 7%;border-radius: 145px; margin-left: 55%;font-size: 12px;" >Reportar</button>
                    </div><!-- Text widget end -->
                    </div><!-- Tab widget end-->

            
        

    

                </div><!-- sidebar end -->
            </div>
        </div><!--/ row end -->
    </div><!--/ container end -->
</section>




<!-- PERROS-->
<div class="container" >
    <div class="row py-3" >
        <div class="col" style="background-color: rgb(255, 212, 159);" >
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
                <div class="carousel-indicators"> <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> </div>
                <div class="carousel-inner">
                    <div class="carousel-item active"  style="width: 100%;height: 100vh;">
                  
                        {% for m in denuncias %}

                        <H1>este pertenece a : {{m.nombres}} </H1>
                        {% if m.estado %}
                          {% if m.imagen %}
                      
                        <img src="{{m.imagen.url}}"  class="img-fluid  "  style="max-height: 300px;min-height: max-content;border-style: solid;border-color: 	#582a11;border-width: 5px;" >
                        {% else %}
                        <img src="{% static 'denun.png'  %}" class="img-fluid" width="25%"> 
                        {% endif %}
                        


                       
                    <h2 style="background-color:
                    #582a11;color: white;width: 70%;position:absolute;margin-top: -5%;margin-left: 15%;">{{m.direccion}}</h2>
                    <p style="font-size: 45px;color: 
                        #582a11;padding-top: 2%;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">PERDIDO!!</p>

            
                        <h3 class="title-border" style="color: 
                        #754e37;">	Descripcion : 	{{m.descripcion}}</h3>
                
                                            
                        <h3 class="title-border" style="color: 
                        #754e37;">	Contacto : 	{{m.telefono}}</h3>
                    
                    
                        <br>
                        {% if m.recopensa %}
                        <div id="precio" >
                            <p>{{ m.recopensa }}<sup>.00</sup></p>
                            <span>Reconpensa</span>

                          </div>
                          {% endif %}
                     <a href="{% url 'pagina_denuncias' %}" class="btn btn-primary solid" style="background-color: #469150">Mas Informacion  </a>
                {% endif %}
     
                {% endfor %}





                    </div>
                    <div class="carousel-item" style="padding-bottom: 8%;">
                        <!-- INICIO DE LA COMPARACION DE BUSQUEDA DEN LA BDD -->
                        {% for m in denuncias %}

                        <H1>este pertenece a : {{m.nombres}} </H1>
                        {% if m.estado %}
                          {% if m.imagen %}
                      
                        <img src="{{m.imagen.url}}"  class="img-fluid  "  style="max-height: 300px;min-height: max-content;border-style: solid;border-color: 	#582a11;border-width: 5px;" >
                        {% else %}
                        <img src="{% static 'denun.png'  %}" class="img-fluid" width="25%"> 
                        {% endif %}
                        


                       
                    <h2 style="background-color:
                    #582a11;color: white;width: 70%;position:absolute;margin-top: -5%;margin-left: 15%;">{{m.direccion}}</h2>
                    <p style="font-size: 45px;color: 
                        #582a11;padding-top: 2%;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">PERDIDO!!</p>

            
                        <h3 class="title-border" style="color: 
                        #754e37;">	Descripcion : 	{{m.descripcion}}</h3>
                
                                            
                        <h3 class="title-border" style="color: 
                        #754e37;">	Contacto : 	{{m.telefono}}</h3>
                    
                    
                        <br>
                        {% if m.recopensa %}
                        <div id="precio" >
                            <p>{{ m.recopensa }}<sup>.00</sup></p>
                            <span>Reconpensa</span>

                          </div>
                          {% endif %}
                     <a href="{% url 'pagina_denuncias' %}" class="btn btn-primary solid" style="background-color: #469150">Mas Informacion  </a>
                {% endif %}
     
                {% endfor %}
        
           

    <!-- FIN DEl SEGUNDO CARUSEL DE BUSQEUDA  -->

                    </div>
                    <div class="carousel-item" style="padding-bottom: 8%;">

                        
                        <!-- INICIO DE LA COMPARACION DE BUSQUEDA DEN LA BDD -->
                        {% for m in form %}
                        {% ifequal m.tipo_consulta 1 %}
                        {% if forloop.counter is 3 %}
                        {% if m.state%}
                        {% if m.referencia %}
                    
                    
            <img src="{{m.referencia.url}}"  class="img-fluid  "  style="max-height: 300px;min-height: max-content;border-style: solid;border-color: 	#582a11;border-width: 5px;" >
            
            {% else %}
            <img src="{% static 'adoptame1.png'  %}" class="img-fluid" >
            {% endif %}
                        


                       
            <h2 style="background-color:
            #582a11;color: white;width: 70%;position:absolute;margin-top: -5%;margin-left: 15%;">{{m.nombre_mascota}}</h2>
                <p style="font-size: 45px;color: 
                #582a11;padding-top: 2%;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">PERDIDO!!</p>

            
                <h3 class="title-border" style="color: 
                #754e37;">	Descripcion : 	{{m.descripcion}}</h3>
        
                                    
                <h3 class="title-border" style="color: 
                #754e37;">	Contacto : 	{{m.telephone}}</h3>
            
            
                <br>
                {% if m.recopensa %}
                <div id="precio" >
                    <p>{{ m.recopensa }}<sup>.00</sup></p>
                    <span>Reconpensa</span>

              </div>
              {% endif %}
                <a href="#" class="btn btn-primary solid" style="background-color: #469150">Mas Informacion  </a>
        
            
                {% endif %}
                {% endif %}
                {% endifequal %}
                {% endfor %}
        
            

    <!-- FIN DEl TERCER CARUSEL DE BUSQEUDA  -->
            <h2>Puedes Reportar tus Perros Perdidos</h2>

            <img src="{% static 'adoptame1.png'  %}" class="img-fluid" >


                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>