{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/ab00d86059.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <title>Inicio de Sesión</title>
    <!-- <img class="wave" src="" alt=""> -->
</head>
  <body>
   <div class="container" >

    <div class="forms-container">

      <div class="signin-signup">


{% if validlink %}
<form method="post">
          <h2 class="title">Nueva Contraseña</h2>
    {% csrf_token %}



          {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva Contraseaña :</label>


                    <div class="input-field">      <i class="fas fa-lock">   </i>
                        {{ form.new_password1 }}

                    </div>



            {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirme contraseña :</label>

       <div class="input-field">      <i class="fas fa-lock">   </i>
          {{ form.new_password2 }}
       </div>

    <input type="submit"  value="Actualizar" class="btn">
</form>
{% else %}
<h1>Enlace Inválido : Este enlace ya se ha Utilizado</h1>
{% endif %}


      </div>
    </div>

    <div class="panels-container" >
      <div class="panel left-panel" >
        <div class="content" >
          <h3>Bienvenido</h3>
          <p>
            Si desea , Regresar al Menu Principal
          </p>
          <a href="{% url 'home' %}">
               <button class="btn transparent"  id="sign-up-btn">
           Inicio
          </button>
          </a>

        </div>
      </div>
    </div>
  </div>

    </body>
