{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/ab00d86059.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <title>Inicio de Sesión</title>
    <!-- <img class="wave" src="" alt=""> -->
</head>
  <body>
   <div class="container" >

    <div class="forms-container">

      <div class="signin-signup">

<h3>Ingrese su email, y le enviaremos instrucciones para ingresar una nueva contraseña</h3>
<form method="POST">
    {% csrf_token %}
           <h2 class="title">Recuperación </h2>
      <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Email" name="email" id="Usuario" />
          </div>

    <input type="Submit" name="Send email"  class="btn solid">
</form>

      </div>
    </div>

    <div class="panels-container" >
      <div class="panel left-panel" >
        <div class="content" >
          <h3>Bienvenido</h3>
          <p>
            Si desea , Regresar al Menu Principal
          </p>
          <a href="{% url 'home' %}">
               <button class="btn transparent"  id="sign-up-btn">
           Inicio
          </button>
          </a>

        </div>
      </div>
    </div>
  </div>

    </body>