{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/ab00d86059.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'logins.css' %}">
    <title>Recuperación de Contraseña</title>
    <!-- <img class="wave" src="" alt=""> -->
</head>
  <body>
   <div class="container" >

    <div class="forms-container">

      <div class="signin-signup">
  <h2 class="title">Contraseña restablecida Correctamente </h2>
      </div>
    </div>

    <div class="panels-container" >
      <div class="panel left-panel" >
        <div class="content" >
          <h3>Bienvenido</h3>
          <p>
            Iniciar Sesión
          </p>
          <a href="{% url 'login' %}">
               <button class="btn transparent"  id="sign-up-btn">
           Inicio
          </button>
          </a>

        </div>
      </div>
    </div>
  </div>

    </body>