{% extends "base/base.html" %}
{% load static %}
{% block titulo %} Quienes Somos {% endblock %}
{% block contenido %}
{% load i18n %}
<body>
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
 <!-- Hero Start -->
 <div class="container-fluid colorFondo1 py-5  mb-5">
    <div class="row py-3" >
        <div class="col-12 text-center">
         <h1 class="display-3 text-white animated zoomIn">Contactos</h1>

        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
<div class="row g-5">
    <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
        <div class="bg-light rounded h-100 p-5">
            <div class="section-title">
              
                <h1 class="display-6 mb-4">Redes Sociales</h1>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-geo-alt fs-1  me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Ubicación </h5>
                    <span>Latacunga, Mulalo </span>
                </div>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-envelope-open fs-1  me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Email </h5>
                    <span>Sabia@gmail.com</span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <i class="bi bi-phone-vibrate fs-1 me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Celular</h5>
                    <span>+593 0998530277</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">
        <form method="post">
            <div class="row g-3">
                <div class="col-12">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100 py-3" type="submit" value="enviar consulta">Enviar </button>
         
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
        <iframe class="position-relative rounded w-100 h-100"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31915.274722075803!2d-78.55087092065428!3d-0.8203815028369347!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d45d3b235936ab%3A0x6221c3f4a528e60f!2sSantuario%20de%20bienestar%20animal%20SABIA!5e0!3m2!1ses-419!2sus!4v1641932004494!5m2!1ses-419!2sus" 
            frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>



    </div>
    {% if user.is_superuser %}
                 <a href="{% url 'contacto_listado' %}" class="btn btn-admin"><i class=" fas fa-tools" style="padding-right:5px;border-right:solid;"></i> Revisar Contactos </a>

                {% else %}
                {% endif %}
</div>
    </div>
</div>
<!-- Hero End -->
  

</body>


{% endblock contenido %}



