{% extends "denuncias/pagina_denuncias.html" %}
{% load static %}
{% block titulo %} Quienes Somos {% endblock %}
{% block contenido %}

<body>

 <!-- Hero Start -->
 <div class="container-fluid colorFondo1 py-5  mb-5">
    <div class="row py-3" >
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Quienes Somos</h1>

        </div>
    </div>
</div>

<div class="container">
<!-- Titulo de la seccion  -->
<div class="row" style="margin-top: 5%;" >
    <div class="col-md-12 heading" style="padding-left: 5%;padding-top: 2%;padding-bottom: 5%;background-color: white;">
        <span class="title-icon pull-left responsive "><i class="fas fa-hand-holding-heart" aria-hidden="true"></i></span>
        <h2 class="title">Misión - Visión  <span class="title-desc"> Voluntariado Sabia   </span></h2>
    </div>
  </div><!--fin del titulo  -->

 <!-- Testimonial Start -->

<div class="container " style="margin-top:5%">

 <div class="row mt-0 " >
        <div id="intro" class="col-sm-12 row spacer-b">
            <div class="col-sm-6 d-flex flex-column justify-content-center">
                <h1 style="color:#2C4430">Santuario Bienestar Animal </h1>
                <p style="text-align:justify">
                    <b> SABIA (Santuario de Bienestar Animal)</b> lleva 8 años dando cobijo a animales abandonados y
                    maltratados. Nació por la necesidad de actuar ante el maltrato, abandono y sufrimiento por la que
                    pasan miles de animales en estado de vulnerabilidad, principalmente en la zona centro del Ecuador.

                    Esta iniciativa se ha logrado gracias al trabajo constante y a la entrega diaria de Fausto Subia,
                    Sebastián Subía y Alejandra Moncayo, quienes dan su amor y cariño para rehabilitar cuerpos y
                    corazones de los más de <b>127 perritos </b> que actualmente se encuentran en el albergue.

                    SABIA(Santuario de Bienestar Animal) se encuentra ubicado en Mulaló(Provincia de Cotopaxi, Ecuador),
                    a 3 minutos de la ciudad de Latacunga. Es una granja con 20 hectáreas de áreas verdes, bosque, río y
                    montañas, formando un valle mágico y seguro en el cual los perritos rescatados pueden llevar una
                    vida plena y así esperar el día de su adopción. Somos un "No Kill Shelter" (no utilizamos la
                    Eutanasia en animales sanos y y tratables)
                </p>
            </div>
            <div class="col-sm-6 order-xs-1">

                <img src="{% static 'img/fondos/casadegradado.png' %}" alt="intro" class="img-fluid">
            </div>
        </div>
        <div id="vision-mission" class="col-sm-12 row spacer-b">
            <div class="col-sm-6">
                <img src="{% static 'img/fondos/fondo_visio.png' %}" alt="our history" class="img-fluid responsive">
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-center">
                <h1 style="color:#2C4430">Visión</h1>
                <p>
                <ul style=" list-style-type: circle;text-align:justify ">
                    <li>Continuar rescatando animales necesitados y rehabilitarlos para su adopción.</li>
                    <li>Conseguir el cumplimiento de las leyes a favor del bienestar animal</li>
                    <li>Mejorar las instalaciones del refugio y crear un modelo de refugio eficiente en el Ecuador</li>
                    <li>Obtener ingresos mensuales a base de donaciones nacionales e internacionales para el
                        mantenimiento del albergue, alimentación diaria, gastos veterinarios, para en un punto llegar a
                        la autosustentabilidad del Santuario.
                    </li>
                </ul>
                </p>

            </div>
        </div>
        <div id="vision-mision" class="col-sm-12 row spacer-b">
            <div class="col-sm-6 text-sm-right d-flex flex-column justify-content-center">
                <h1 style="color:#2C4430">Misión</h1>
                <p>
                <ul style=" list-style-type: circle;text-align:justify ">
                    <li>
                        Rescate, rehabilitación y adopción de perros, así como contribuir con información que ayude a la
                        construcción de una sociedad más educación, conciencia y respeto para los animales

                    </li>
                    <li>
                        Mejorar el bienestar de los animales, y acabar con la crueldad y la negligencia hacia ellos, con
                        la cría descontrolada y el abandono de los mismos a través de rescates, rehabilitación y
                        tratamiento veterinario.

                    </li>
                    <li>
                        Controlar y mantener la actual población de perros callejeros por medio de campañas de
                        esterilización a bajo costo o subsidiadas en zonas y poblaciones con alta problemática y
                        maltrato animal.

                    </li>
                </ul>

                </p>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'img/fondos/Fondo_vision.png' %}" alt="vision mision" class="img-fluid">
            </div>
        </div>


    </div>
</div>


<!-- Testimonial End -->
<!-- Titulo de la seccion  -->
<div class="row" style="margin-top: 5%;" >
    <div class="col-md-12 heading" style="padding-left: 5%;padding-top: 2%;padding-bottom: 5%;background-color: white;">
        <span class="title-icon pull-left responsive "><i class="fas fa-hand-holding-heart" aria-hidden="true"></i></span>
        <h2 class="title">Grupo Sabia   <span class="title-desc"> Voluntariado Sabia   </span></h2>
    </div>
  </div><!--fin del titulo  -->

  <!-- Team Start -->
  <div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">

                    <h1 class="display-6 mb-4">Contamos con Voluntariado Internacional </h1>
                    <a href="appointment.html" class="btn btn-primary py-3 px-5">Conocer Mas</a>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative rounded-top" style="z-index: 1;">




                        <img class="img-fluid rounded-top w-100" src="{% static 'img/dueño.jpg' %}" alt="">
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Fausto Subia  </h4>
                        <p class="text-primary mb-0">Administrador Sabia </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="position-relative rounded-top" style="z-index: 1;">
                        <img class="img-fluid rounded-top w-100" src="{% static 'img/dueño.jpg ' %}" alt="">
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Cristian Acosta </h4>
                        <p class="text-primary mb-0">Administrador Sabia </p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- Team End -->


</div>



<div class="container-fluid py-5">
    <div class="container">
<div class="row g-5">
    <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
        <div class="bg-light rounded h-100 p-5">
            <div class="section-title">
              
                <h1 class="display-6 mb-4">Redes Sociales</h1>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-geo-alt fs-1  me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Ubicación </h5>
                    <span>Latacunga, Mulalo </span>
                </div>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-envelope-open fs-1  me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Email </h5>
                    <span>Sabia@gmail.com</span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <i class="bi bi-phone-vibrate fs-1 me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Celular</h5>
                    <span>+593 0998530277</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">
        <form method="post">
            <div class="row g-3">
                <div class="col-12">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100 py-3" type="submit" value="enviar consulta">Enviar </button>
         
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
        <iframe class="position-relative rounded w-100 h-100"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31915.274722075803!2d-78.55087092065428!3d-0.8203815028369347!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d45d3b235936ab%3A0x6221c3f4a528e60f!2sSantuario%20de%20bienestar%20animal%20SABIA!5e0!3m2!1ses-419!2sus!4v1641932004494!5m2!1ses-419!2sus" 
            frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>



    </div>
</div>
    </div>
</div>
<!-- Hero End -->
  

</body>
{% endblock contenido %}



