{% extends "administracion/usuarios/plantilla_tablas.html" %}
{% load static %}

<body>
    <!-- <h1>PAgina de denuncias</h1>
    <hr>
    <li><a href="{%  url 'denuncias_registrar' %}">Registrar Denuncias</a></li>
    <li><a href="{% url 'pagina' %}">dashboard</a></li>
    <br>
    <hr> -->
    {% block tema %}
Detalle Denuncias
 {% endblock tema %}
 {% block title %}Perfil de Usuario  {% endblock title  %}


    {% block tr %}

    <th scope="col">Código</th>
    <th scope="col">Imagen</th>
    <th scope="col">Denunciante</th>
    <th scope="col">contacto</th>
    <th scope="col">estado</th>
    <th scope="col">Opciones</th>
    {% endblock tr %}
    {% block tbody %}
    <tr>
        {% for i in object_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>

                {% if i.imagen %}
                <td class="col-lg-4 mb-4 ">
                  <img src="/media/{{i.imagen }}" alt="{{i.imagen }}"  style="width: 40%;margin-left: 35%;" >
                           
                  {% else %}
                  <img class="img-fluid rounded-top" src="{% static 'img/albergue1.png ' %}"    style="width: 40%;" alt="">
                  {% endif %}
            
            
            </td>
            <td>{{i.nombres}} {{i.apellidos}}</td>
            <td>{{i.telefono}}</td>
            <td>{{i.estado}}</td>
            <td>
                
                
                
           
            
                <a href="{% url 'denuncias_detalle' i.id %}" class="btn btn-warning btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-file-alt "></i>
                    </span>

                </a>
                <div class="my-2">
                    
                </div>
                <a href="{% url 'denuncias_eliminar' i.id %}"class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>

                </a>
            
            
            
            </td>


    <!--   {% if user.is_superuser %}
       {% else %}
       {% endif %}-->

     {% endfor %}
    {% endblock tbody  %}




</body>

    




