{% extends "base/base.html" %}
{% block titulo %} Denuncias {% endblock %}
{% load static %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'css/denuncia1.css' %}">

<body>
   
 <!-- Hero Start -->
 <div class="container-fluid colorFondo py-5  mb-5">
    <div class="row py-3" >
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Denuncias</h1>

            <!-- <a href="" class="h4 text-white">Accion </a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">Latacunga</a> -->
        </div>
    </div>
</div>
<!-- Hero End -->
 <!-- Service Start -->
 <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.3s" >
               
                    <div class="position-relative  rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                        <img class="img-fluid" src="{% static 'img/fondos/denuncia_perro.png' %}"  alt="SABIA">


                    </div>
               
            </div>
            <div class="col-lg-6">
                <div class="section-title mb-5">
                  
                    <h1 class="display-5 mb-0" style="text-align: center;">Denuncia Ciudadana </h1>
                </div>
                <div class="row g-5">
                    <div class="col-md-5 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">

                            <a href="https://latacunga.gob.ec/images/pdf/Ordenanzas/1_99_ordenanza_regula_transito_cuidado_tenencia_manejo_responsables_perros_gatos.pdf" target="blank">
                                
                            <img class="img-fluid" src="{% static 'img/logogad.png' %}"  alt="SABIA">

                        </a>
                        </div>
                        <div class="position-relative color1 rounded-bottom text-center p-4" style="margin-top: 5%;">
                            <h5 class="m-0 " style="color:white">Ordenanza Municipales </h5>
                        </div>
                    </div>
                    <div class="col-md-5 service-item wow zoomIn" data-wow-delay="0.9s">
                        <div class="rounded-top overflow-hidden">

                          <a href="{% url 'denuncias_registrar' %}">

                            <img class="img-fluid" src="{% static 'img/maltrato.jpg' %}"  alt="SABIA">

                          </a>


                         
                        </div>
                        <div class="position-relative color1 rounded-bottom text-center p-4" style="margin-top: 5%;">
                            <h5 class="m-0 " style="color:white">Reportar Violencia </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<!-- Service End -->
<div id='whastseven'>
<div id="msg"><button onclick="fecharwhastb()" style="background-color:rgb(203,235,164)"><i class="fas fa-window-close " aria-hidden="true" style="color:red;"></i></button>
 Reportadnos. <br> enviadnos un mensaje directo

</div>

<a class="icon" href="https://wa.me/5930998530277" target="_blank">
<i style="margin-top:16px" class="fas fa-phone"></i>

</a>
  </div>




  <!-- Titulo de la seccion  -->
<div class="row " style="background-color: white;">
    <div class="col-md-12 heading" style="padding-left: 5%;padding-top: 2%;">
        <span class="title-icon pull-left responsive"><i class="fas fa-hand-holding-heart" aria-hidden="true"></i></span>
        <h2 class="title">Como Denunciar el Maltrato Animal   <span class="title-desc"> Aquí algunas recomendaciones  </span></h2>
    </div>
  </div><!--fin del titulo  -->  
  
     <div>
    <!-- partial:index.partial.html -->
    <section class="ps-timeline-sec ">
      <div class="container ">
        <ol class="ps-timeline ">
          <li>
            <div class="img-handler-top responsive ">
                <!-- <img class="img-fluid" src="{% static 'img/casaSabia.jpg ' %}"  alt="SABIA"> -->
            <i class="fas fa-eye  " aria-hidden="true" style="font-size: 100px;color: #43914E;"></i>
            
            </div>
            <div class="ps-bot  ">
              <p class="responsiveDenuncia">Presencias, un  caso de violencia Animal </p>
            </div>
            <span class="ps-sp-top">01</span>
          </li>
          <li>
            <div class="img-handler-bot responsive">
                <i class="fas fa-hand-holding-heart " aria-hidden="true" style="font-size: 125px;color: #43914E;"></i>
            </div>
            <div class="ps-top">
              <p class="responsiveDenuncia">Verificas el Estado  del canino </p>
            </div>
            <span class="ps-sp-bot">02</span>
          </li>
          <li>
            <div class="img-handler-top responsive">
                <i class="fas fa-camera  " aria-hidden="true" style="font-size: 125px;color: #43914E;"></i>
            </div>
            <div class="ps-bot">
              <p class="responsiveDenuncia">Tomas fotografías  o material de video </p>
            </div>
            <span class="ps-sp-top">03</span>
          </li>
          <li>
            <div class="img-handler-bot responsive">
                <i class="fas fa-phone-volume " aria-hidden="true" style="font-size: 125px;color: #43914E;"></i>
            </div>
            <div class="ps-top">
              <p class="responsiveDenuncia"> Acudes al departamento de policía más cercano </p>
            </div>
            <span class="ps-sp-bot">04</span>
          </li>
                <li>
            <div class="img-handler-top responsive">
                <i class="fas fa-laptop-medical" aria-hidden="true" style="font-size: 125px;color: #43914E;"></i>
            </div>
            <div class="ps-bot">
              <p class="responsiveDenuncia">Contactas a entes encargados de protección </p>
            </div>
            <span class="ps-sp-top">05</span>
          </li>
        </ol>
      </div>
    </section>
     </div>
         <!--

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for i in denuncias %}
            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Denuncia Ciudadana</h5>
                        <p class="card-text">
                        <ul>

                            <li><strong>codigo : </strong>{{i.id}}</li>
                            <li><strong>codigo : </strong>{{i.imagen}}</li>

                        </ul>
                        <strong>Detalle de denuncia</strong>{{i.descripcion}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div> -->

  <!-- Titulo de la seccion  -->
  <div class="row" style="background-color: white;">
    <div class="col-md-12 heading" style="padding-left: 5%;padding-top: 2%;">
        <span class="title-icon pull-left responsive"><i class="fas fa-hand-holding-heart" aria-hidden="true"></i></span>
        <h2 class="title">Denuncias Reportadas  <span class="title-desc"> casos de violencia reportadas  </span></h2>
    </div>
  </div><!--fin del titulo  -->  



<div class="container1 ">
  <!-- Normal Demo-->
    {% for i in denuncias %}
  <div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="date">
          <div class="day"><i class="fas fa-exclamation" style="font-size:30px"></i></div>

        </div>
          {% if i.imagen %}
            <img src="/media/{{i.imagen}}" alt="{{i.imagen}}"  >
            {% else %}
            <img src="{% static 'img/casaSabia.jpg ' %}"   alt="SABIA">
            {% endif %}
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">{{i.fecha_creacion}}</div>
        <h1 class="title" style="border-style:none">{{i.descripcion}}</h1>
        <h2 class="sub_title">{{i.direccion}}</h2>
      </div>
    </div>
     </div>
    {% endfor %}
</div>

 <div style="margin:25px;" class="container">
   {% if user.is_superuser %}
            <a href="{% url 'denuncias_listado' %} " class="btn btn-admin"><i class=" fas fa-tools" style="padding-right:5px;border-right:solid;"></i> Revisar Denuncia </a>


                {% else %}
                {% endif %}
 </div>
 <script>
 $(window).load(function() {
  $('.post-module').hover(function() {
    $(this).find('.description').stop().animate({
      height: "toggle",
      opacity: "toggle"
    }, 300);
  });
});

 </script>
 <script>
     function fecharwhastb() {
  var x = document.getElementById("msg");
    x.style.display = "none";
}
 </script>
{% endblock contenido %}
</body>


</html>


