{% extends "base/base.html" %}
{% block titulo %} Tienda SABIA {% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<style>
    .asteriskField {
display: none;
}
</style>


<div class="container-fluid py-5">
<div class="row ">
    <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
        <div class="bg-light rounded h-100 p-5">
            <div class="section-title">

                <h1 class="display-6 mb-2" style="text-align:center;">Detalles </h1>
            </div>


            <table class="table">

                 <thead>
                    <tr>
                      <th scope="col">Producto</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">cantidad</th>
                      <th scope="col">Precio</th>
                    </tr>
                     </thead>
                <tbody>
                  {% for item in cart %}

                <tr>
                    <th>
                          {% if item.product.image %}
                <br/>
                <img src="/media/{{item.product.image}}" alt="{{product.image}}"  class="img-fluid" width="100%">
                {% else %}
                <img src="{% static 'imagenes/adopciones/adop1.jpg'  %}" >
                {% endif %}
                    </th>
                                <th>
   <h5>   {{ item.product.name }}    </h5>
                    </th>


                    <th>
   <h5>

       {{ item.quantity }}

   </h5>
                    </th>


                    <th>
   <h5> ${{ item.total_price }}  </h5>
                    </th>
                </tr>
                   {% endfor %}
                </tbody>

            </table>



                   <span class="col">Total: ${{ cart.get_total_price }}</span>
        </div>
       <div class="row">
    <div class="col">
         <a href="{% url 'cart_detail' %}" class="button light btn btn-principal">Editar Compra </a>
    </div>
            <div class="col">
                                    <a href="{% url 'product_list' %}" class="button light btn btn-principal">Comprar Mas </a>
 </div>
</div>
    </div>

      {% if user.is_authenticated %}
     <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s" style="margin-top:15%;">
        <div class="container">
               <h3>Gracias : {{user.username}}  </h3>
  <form method="post",action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p  }}
                    <hr><br>
                    {{ context.form2.as_p  }}
            <hr><br>


                    <div class="my-2"></div>
                    <a href="#"class="btn btn-success btn-icon-split" style="margin-left: 25%;">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>

                        <input type="submit" value="Comprar">
                    </a>



            </form>
        </div>

    </div>
        {% endif %}



</div>

</div>

<!--

<div class="row" >
      <div class="col-md-3 col-sm-12 col-lg-4 wow fadeIn" data-wow-delay="0.2s">
 {% for item in cart %}
          <ul>
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_price }}</p>

      </div>
      <div class="col-lg-8" style="border-style:solid;border-color:black;">

    <form action="." method="post" >
          <div class="form-group">

        {{ form.as_p}}
        <p><input type="submit" value="Comprar"></p>
        {% csrf_token %}
              </div>
    </form>

          </div>
</div>

-->






{% endblock %}