{% extends "voluntarios/pagina_voluntario.html" %}
{% load static %}
{% block tema %}
Solicitud de Donaciones 
 {% endblock tema %}
{% block contenido %}

<body>
  
      
  

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">

                    <div class="card-header py-3">
                        <h6 style="text-align: center;">Datos de la Solicitud </h6>
                                </div>
  
        <ul>
            <li><strong>codigo solicitud</strong>{{solicitud.id}}</li>
            <li><strong>nombre Solicitante</strong>{{solicitud.nombre}} {{solicitud.apellido}}</li>
            <li><strong>cedula Solicitante</strong>{{solicitud.cedula}}</li>
            <li><strong>estado</strong> {{solicitud.estado}}</li>
            <li><strong>Telefono</strong>{{solicitud.telefono}}</li>
            <li><strong>direccion </strong>{{solicitud.direccion}}</li>
            <li><strong>email </strong>{{solicitud.email}}</li>
            <li><strong>descripccion</strong>{{solicitud.descripcion}}</li>
        </ul>

                </div>
            </div>



            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 style="text-align: center;">Datos del Producto a Donar </h6>
                                </div>
      
        <ul>
            <li><strong>codigo de perro:</strong> {{producto.id}}</li>
            <li><strong>Nombre:</strong> {{producto.nombre}}</li>
            <li><strong>cantidad:</strong> {{producto.cantidad}}</li>
            <li><strong>descripccion</strong> {{producto.descripcion}}</li>
        </ul>
                </div>
            </div>
    </div>


    </div>

    {% if user.is_authenticated %}
    <div class="my-2"></div>
    <a href="{% url 'editar_solicitud_donacion' solicitud.id %}"class="btn btn-success btn-icon-split" style="margin-left: 25%;">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
      
        <span class="text">Gestionar Solicitud donaciones  </span>
    </a>

    
    {% endif %}
   
</body>


{% endblock contenido %}