
{% extends "voluntarios/pagina_voluntario.html" %}
{% load static %}
{% block tema %}
Blog
 {% endblock tema %}
{% block contenido %}

<body>

 
  
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
            <h6 style="text-align: center;">Datos del usuario</h6>
                    </div>
                    <div class="card-body">
                <li style="list-style: none;"><strong>nombre </strong>{{usuario.first_name}} {{usuario.last_name}}</li>
                <li  style="list-style: none;"><strong>email </strong>{{usuario.email}}</li>
                <li  style="list-style: none;"><strong>username</strong>{{usuario.username}}</li>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
            <h6 style="text-align: center;">Datos del blog</h6>
                    </div>

     <div class="card-body">
                <li style="list-style: none;" ><strong>codigo de blog:</strong> {{blogs.id}}</li>
                <li style="list-style: none;"><strong>Titulo:</strong> {{blogs.titulo}}</li>
                <li style="list-style: none;"><strong>fecha creacion:</strong> {{blogs.fecha_creacion}}</li>
                <li style="list-style: none;"><strong>descripccion</strong> {{blogs.descripcion}}</li>
                {% if user.is_authenticated %}
       <div style="padding-top: 5%;" >
        <a href="{% url 'editar_blogs' blogs.id %}" class="btn btn-warning btn-icon-split" style="margin-left: 70%;">
            <span class="icon text-white-50">
                <i class="fas fa-file-alt "></i>
            </span>
            <span class="text">Editar </span>
        </a>
       </div>
              
                {% endif %}
         
        </div>
                </div>
            </div>

        </div>
    
    </div>
</body>


{% endblock contenido %}