
{% extends "administracion/usuarios/plantilla_tablas.html" %}

{% load static %}
<body>
    <!-- <center>
        <h1>Listado de productos existentes</h1>
    </center>
    <hr><br>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'pagina' %}">dashboard</a></li>
    </ul>
    <hr><br>
    <ul>
        <li><a href="{% url 'registrar_producto' %}">Registrar productos</a></li>
    </ul>
    <hr><br> -->
    {% block tema %}
    Productos Donaciones 
      {% endblock tema %}
      {% block title %}Listado de productos existentes  {% endblock title  %} 
     

      {% block tr %}
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">nombre</th>
                    <th scope="col">cantidad</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">Opciones</th>
                    {% endblock tr %}
      
                    {% block tbody %}
                          
       
                {% for i in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
     
                {% if i.imagen %}
                <td class="col-lg-4 mb-4 ">
                  <img src="/media/{{i.imagen }}" alt="{{i.imagen }}"  style="width: 40%;margin-left: 35%;" >
                           
                  {% else %}
                  <img class="img-fluid rounded-top" src="{% static 'img/albergue1.png ' %}"    style="width: 40%;" alt="">
                  {% endif %}
            
                    </td>
                    <td>{{i.nombre}}</td>
                    <td>{{i.cantidad}}</td>
                    <td>{{i.descripcion}}</td>


                    <td>
                        <div class="my-2">
                    
                        </div>
                        <a href="{% url 'editar_producto1' i.id %}"class="btn btn-warning btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-save"></i>
                            </span>
                            <span class="text">Editar</span>
                        </a>
                        <div class="my-2">
                    
                        </div>
                        <a href="{% url 'eliminar_producto' i.id %}"class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text">Eliminar</span>
                        </a>
                    </td>
                 
                  
                  
                </tr>
                
                {% endfor %}
                    
                {% endblock tbody  %}   
                {% block edicion %}
                <div class="my-2"></div>
                <a href="{% url 'registrar_producto'  %} "class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Registrar Producto</span>
                </a>
{% endblock edicion %}


              
</body>

