
{% extends "administracion/usuarios/plantilla_tablas.html" %}



<body>
    
    
    {% block tema %}
   Listados Adopciones
     {% endblock tema %}
     {% block title %}Listado de Posibles Adopciones {% endblock title  %} 
    

     {% block tr %}
           

                    <th scope="col">Código</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">contacto</th>
                    <th scope="col">estado</th>
                    <th scope="col">perro</th>
                    <th scope="col">Opciones</th>
                    {% endblock tr %}
      
                    {% block tbody %}
     
                {% for i in object_list %}
                <tr>

                    <td>{{i.id}}</td>
                    <td>{{i.nombre}} {{i.apellido}}</td>
                    <td>{{i.telefono}}</td>
                    <td>
                        {% ifequal i.estado True %}
                        Adoptado
                        {% else %}
                        En espera
                        {% endifequal %}



                    </td>
                    <td>{{i.perros.nombre}}</td>

                   

                    <td>
                        <a href="{% url 'detalle_solicitud' i.id %}"class="btn btn-warning btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-save"></i>
                            </span>
                            <span class="text">Ver detalle</span>
                        </a>
                        
                        
                        <a href="{% url 'eliminar_solicitud' i.id %}"class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text">Eliminar</span>
                        </a>
                      
                    
                    </td>
                </tr>
                {% endfor %}
                {% endblock tbody  %}   

         
</body>
