{% extends "denuncias/pagina_denuncias.html" %}
{% load static %}
{% block titulo %} Adopciones {% endblock %}

{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static 'css/perro_estilo5.css' %}">
</head>

<style>
    .icon{
	width: 60px;
	height: 60px;
	border-radius: 15px;
	text-align: center;
	background-image: linear-gradient(155deg, #4C57A2 8%, #87439A 50%, #e02870 85%);
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 30%;
    	left: -60%;
		width: 150%;
		height: 150%;
		background: radial-gradient(rgba(246, 221, 132,1) 15%,
			rgba(255, 45, 45, 0.65) 50%,
			rgba(0, 0, 0, 0) 70%);
    }


}
</style>

<!-- <body>

    <center>
        <h1>Pagina de adopciones</h1>
        <h3>carrusel de imagenes</h3>
    </center>
    <hr><br>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
    </ul>
    <hr><br>
    <div class="container">
        <div class="card-deck">

            {% for i in perros %}
            <div class="card">
                {% if i.imagen_mascota %}
                <br/>
                <img src="/media/{{i.imagen_mascota}}" alt="{{i.imagen_mascota}}" class="img-fluid"  style="max-height: 300px;min-height: max-content;" >

                {% else %}
                <img src="{% static 'imagenes/adopciones/adop1.jpg'  %}" class="img-fluid">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{i.nombre}} en adopcion</h5>
                    <p class="card-text">
                        <ul>
                            <li><strong>nombre: </strong>{{i.nombre}}</li>


                            <li><strong>edad: </strong>{{i.edad}}</li>
                            <li><strong>vacunas: </strong>{{i.vacunas}}</li>
                            <li><strong>descricion: </strong>{{i.descripcion}}</li>
                        </ul>
                    </p>
                    <hr>
                    <a href="{% url 'detalle_perro' i.id %}" class="card-link">ver detalles del perro</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</body> -->

   <!-- Hero Start -->
   <div class="container-fluid colorFondo2 py-5  mb-5">
    <div class="row py-3" >
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Adopciones </h1>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div  class="col-md-6 Search" style="margin-left: 5%;">
            <form method="get">
                <div id="custom-search-input">
                    <div class="input-group.col-md-12">
                      <i class="fas fa-search" style="font-size: 1px;" >
                            <input type="text" class="form-control" placeholder="Buscar" name="buscar">

                        </i>
                        <button type="submit" class="btn btn-success">Buscar</button>
                        <span class="input-group-list">
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Hero End -->

<!-- para la busqueda  !-->
<div class="col-md-3 col-sm-12 container" >
        <div class="col-md-3 col-sm-12 col-lg-4 wow fadeIn" data-wow-delay="0.2s">
                 <div class="row">
        <div class="widget-wrapper">
          <div class="list-group">
<ul style="display:flex">
            <li {% if not category %}class="selected"{% endif %} style="list-style:none;padding:2%">
                <a href="{% url 'Pagina_adopciones1' %}"  class="list-group-item  btn btn-warning">All</a>
            </li>
            {% for c in categories %}

                <li {% if category.slug == c.slug %}class="selected"{% endif %} style="list-style:none;padding:2%">
                    <a href="{{ c.get_absolute_url }}" class="list-group-item  btn btn-secundario">{{ c.name }}</a>
                </li>
            {% endfor %}
</ul>

          </div>
        </div>

</div>
      </div>

</div>


<ul class="cards">
        {% for m in perros %}
    {% if forloop.counter < 7 %}
    <li >
    <div href="" class="card">

           {% if m.imagen_mascota %}
                <br/>
                <img src="/media/{{m.imagen_mascota}}" alt="{{m.imagen_mascota}}" class="card__image"  style="max-height:250px;min-height:250px;" >
                {% else %}
                <img src="{% static 'imagenes/adopciones/adop1.jpg'  %}" class="card__image"  style="max-height: 300px;min-height: max-content;" >
                {% endif %}
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
<a href="{{m.link}}" target="_blank">
    <div class="icon">
	<i class=" fab fa-instagram" style="color: #fff;
    	font-size: 50px;
		line-height: 60px;
		position: relative;
		z-index: 1;"></i>
</div>
</a>




          <div class="card__header-text">
            <h3 class="card__title">{{m.nombre}}</h3>
            <span class="card__status">{{m.raza}}</span>
          </div>
        </div>
        <p class="card__description">{{m.descripcion}}</p>
         <!-- <a href="{% url 'registrar_solicitud' m.id %}">
               <button class="btn btn-warning">Adoptar</button>
          </a>
-->
          <a href="{% url 'detalle_perro' m.id %}">
               <button class="btn btn-warning">Adoptar</button>
          </a>

      </div>


    </div>

  </li>
    {% endif %}
      {% endfor %}


</ul>
  <div class="mt-2 container">
<ul class="pagination">
    <span>
        {% if page_obj.has_previous %}
               <button class="btn btn btn-success">
                      <a href="?page=1" style="color:white">&laquo;</a>
               </button>
       <button class="btn btn btn-success" >

                       <a href="?page={{ page_obj.previous_page_number }}" style="color:white">Atras</a>
        </button>
        {% endif %}
        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <button class="btn btn btn-success">
              <a href="?page={{ page_obj.next_page_number }}" style="color:white">Siguiente</a>

        </button>
           <button class="btn btn btn-success">
 <a href="?page={{ page_obj.paginator.num_pages }}" style="color:white"> &raquo;</a>
                     </button>
        {% endif %}
    </span>

</ul>

  </div>
  <!-- Inicio de paginacion ::  -->
<!--
  {% if paginator.num_pages > 1%}
  <div class="mt-2 container">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item" >
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Atras</a>
        </li>
        {% else %}
        <li class="page-item disabled"  >
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Atras</a>
        </li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item ">
        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
    </li>
{% else %}

<li class="page-item">
<a href="?page={{ i }}" class="page-link">{{ i }}</a>
</li>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<li class="page-item">
    <a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
</li>
{% else %}
<li class="page-item activate">
    <a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
</li>
{% endif %}

</ul>

  {% endif %}
</div>

-->


<!-- fin de paginacion  -->

   <div class="container">
                          {% if user.is_superuser %}
<div class="row" style="padding:5%;">

      <div class="col-md-3 col-sm-12 col-lg-4 wow fadeIn" data-wow-delay="0.2s" style="padding:2%;">
            <a href="{% url 'listado_perro' %}" class="btn btn-admin"><i class=" fas fa-tools" style="padding-right:5px;border-right:solid;"></i> Editar Mascotas</a>


      </div>
      <div class="col-md-3 col-sm-12 col-lg-4 wow fadeIn" data-wow-delay="0.2s " style="padding:2%;">
            <a href="{% url 'adopciones_listado' %}" class="btn btn-admin"><i class=" fas fa-tools" style="padding-right:5px;border-right:solid;"></i>Revisar solicitudes </a>


      </div>
</div>
                {% endif %}
   </div>


{% endblock contenido %}




